

<div class="chat-box">
  <div class="messages-container">
    <div  *ngFor="let message of messages">
      <div  class="message" *ngIf="message.role !== 'system'">
        <div   *ngIf="message.role === 'user'">
            <strong  >{{ message.role }}:</strong> {{ message.content }}
        </div>
        <div *ngIf="message.role === 'assistant'">
            <strong  > <p appHighlight> {{ message.role }} </p>:</strong> {{ message.content }}
        </div>
      
      </div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage">
    <button (click)="sendMessage()">Send</button>
  </div>

  <button (click)="clearMessage()"> Clear</button>
</div>